*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-image: url(../img/bg-header.png);
    background-size: cover;
}

.header{
    transition: all ease 600ms;
    .navbar{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;

        .entidad{
            display: none;
        }

        .hamburger{
            display: block;
            z-index: 100;
        }

        .nav-menu{
            background-color: rgba($color: #241060, $alpha: 0.5);
            backdrop-filter: blur(20px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            top: -100vh;
            left: 0;
            transition: all ease 500ms;

            a{
                display: block;
                padding: 30px;
                color: #fff;
            }
        }
        .nav-menu.activo{
            // display: flex;
            top: 100%;
        }
    }

    @media screen and (min-width: 800px)  {
        .navbar{
            .entidad{
                display: block;
            }

            .hamburger{
                display: none;
            }

            .nav-menu{
                // display: flex;
                position: relative;
                top: 0;
                flex: 1;
                flex-flow: row nowrap;
            }
        }
    }
}

.header.activador{
    background-color: rgba($color: #241060, $alpha: 0.5);
}