@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  background-image: url(../img/bg-header.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  transition: all ease 600ms;
}
.header .navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.header .navbar .entidad {
  display: none;
  color: #13444d;
  font-size: 2rem;
  font-weight: 700;
}
.header .navbar .hamburger {
  display: block;
  z-index: 100;
}
.header .navbar .nav-menu {
  background-color: rgba(36, 16, 96, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all ease 500ms;
}
.header .navbar .nav-menu li {
  width: 100%;
}
.header .navbar .nav-menu li a {
  display: block;
  padding: 30px;
  color: #fff;
  text-align: center;
  transition: all ease 300ms;
  font-size: 1.5rem;
  font-weight: 700;
}
.header .navbar .nav-menu li a:hover {
  background-color: orange;
}
.header .navbar .nav-menu.activo {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header .navbar {
    padding: 0px 20px;
  }
  .header .navbar .entidad {
    display: block;
  }
  .header .navbar .hamburger {
    display: none;
  }
  .header .navbar .nav-menu {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    height: auto;
    transform: translateY(0);
    position: relative;
    top: 0;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 10px 0;
    gap: 10px;
  }
  .header .navbar .nav-menu li {
    width: auto;
  }
  .header .navbar .nav-menu li a {
    font-size: 1rem;
    padding: 10px;
    border-bottom: 4px solid transparent;
    color: #4f784e;
  }
  .header .navbar .nav-menu li a:hover {
    border-color: #4f784e;
    background-color: transparent;
  }
}

.main .logo {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
.main .logo h1 {
  text-transform: uppercase;
  color: #13444d;
  font-weight: 700;
  font-size: 2rem;
}
.main .logo .image {
  width: 80%;
  margin: auto;
}
.main .logo .image img {
  width: 100%;
  display: inline-block;
}
.main .icons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 20px;
}
.main .icons .icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5px;
}
.main .icons .icon .image {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13444d;
  border-radius: 50%;
}
.main .icons .icon .image i {
  color: #fff;
}
.main .icons .icon .title {
  color: #13444d;
}
.main .welcome {
  padding: 20px;
}
.main .welcome .title {
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #4f784e;
}
.main .welcome .text {
  text-align: justify;
  margin-bottom: 15px;
  color: #13444d;
}
.main .welcome .boton {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #13444d;
  border-radius: 40px;
  text-align: center;
}
.main .slider__libros {
  padding: 20px;
  /* Estilos para el ítem enfocado */
}
.main .slider__libros .slider__controles {
  margin-bottom: 20px;
}
.main .slider__libros .slider__controles .title {
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #4f784e;
}
.main .slider__libros .carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
}
.main .slider__libros .carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 5px;
}
.main .slider__libros .carousel-item {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.main .slider__libros .carousel-item p {
  max-width: 200px;
  margin: auto;
  margin-top: 5px;
  color: #2d5e4c;
}
.main .slider__libros .carousel-item img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.main .slider__libros .prev, .main .slider__libros .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
}
.main .slider__libros .prev {
  left: 10px;
}
.main .slider__libros .next {
  right: 10px;
}
.main .slider__libros .prev:hover, .main .slider__libros .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main .slider__libros p {
  margin-top: 10px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .main .slider__libros .carousel-item {
    flex: 1 0 50%;
  }
  .main .slider__libros .carousel-item img {
    width: 150px;
  }
}
@media (min-width: 900px) {
  .main .slider__libros .carousel-item {
    flex: 1 0 33.33%;
    text-align: left;
  }
  .main .slider__libros .carousel-item p {
    margin: 5px 0 0 0;
  }
  .main .slider__libros .carousel-item img {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .main .slider__libros .carousel-item {
    flex: 1 0 25%;
  }
  .main .slider__libros .carousel-item img {
    width: 250px;
  }
}
.main .slider__libros .carousel-item.focused {
  transform: scale(1.1);
}
.main .slider__libros .carousel-item.focused img {
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */