*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-image: url(../img/bg-header.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header{
    transition: all ease 600ms;
    .navbar{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;

        .entidad{
            display: none;
        }

        .hamburger{
            display: block;
            z-index: 100;
        }

        .nav-menu{
            background-color: rgba($color: #241060, $alpha: 0.5);
            backdrop-filter: blur(20px);
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            transition: all ease 500ms;

            li{
                width: 100%;
                a{
                    display: block;
                    padding: 30px;
                    color: #fff;
                    text-align: center;
                    transition: all ease 300ms;
                }
                a:hover{
                    background-color: orange;
                }
            }
        }
        .nav-menu.activo{
            transform: translateY(0);
        }
    }

    @media screen and (min-width: 768px)  {
        .navbar{
            padding: 0px 20px;
            .entidad{
                display: block;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 700;
            }

            .hamburger{
                display: none;
            }

            .nav-menu{
                background-color: transparent;
                backdrop-filter: none;
                height: auto;
                transform: translateY(0);
                position: relative;
                top: 0;
                flex: 1;
                flex-flow: row nowrap;
                justify-content: flex-end;
                li{
                    width: auto;
                    a{
                        padding: 20px;
                        border-bottom: 4px solid transparent;
                    }
                    a:hover{
                        border-color: #fff;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.main{
    .logo{
        margin: 100px 0 40px;
        width: 100%;
        text-align: center;
        h1{
            text-transform: uppercase;
            color: #241060;
            font-weight: 700;
            font-size: 2rem;
        }
        .image{
            img{
                width: 100%;
            }
        }
    }

    .icons{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        .icon{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 5px;
            .image{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #d1d1d1;
                border-radius: 50%;
                i{
                    color: #535353;
                }
            }
        }
    }
}