*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-image: url(../img/bg-header.png);
    background-size: cover;
}

.header{
    background-color: orange;
    padding: 1rem;
    .navbar{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .entidad{
            display: none;
        }

        .hamburger{
            display: block;
        }

        .nav-menu{
            background-color: red;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            a{
                display: block;
                padding: 20px;
                color: #fff;
            }
        }
    }

    @media screen and (min-width: 800px)  {
        .navbar{
            .entidad{
                display: block;
            }

            .hamburger{
                display: none;
            }

            .nav-menu{
                flex: 1;
                flex-flow: row nowrap;
            }
        }
    }
}